<div class="row mt-2">
  <div class="col-12 text-center">
    <h1>
      {{ 'NAVBAR.MENU.GUTENBERG_STRING_COMPARATOR' | translate }}
    </h1>
  </div>
</div>
<div class="row justify-content-center mt-2">
  <!-- Show loader -->
  <div
    class="col-12 d-flex align-items-center justify-content-center"
    *ngIf="busy$ | async"
  >
    <div
      class="spinner-grow spinner-grow-sm text-primary mr-1"
      role="status"
    ></div>
    <span class="text-primary">
      {{ 'GUTENBERG_STRING_COMPARATOR.LOADING' | translate }}
    </span>
  </div>
  <!-- Show error message -->
  <div class="col-12 text-center" *ngIf="errorMessage$ | async as errorMessage">
    <p class="text-danger">
      {{ errorMessage | translate }}
    </p>
  </div>
  <!-- Show results -->
  <ng-container *ngIf="gutenbergStrings$ | async as strings">
    <div class="col-12 col-lg-11 col-xl-10 mb-3 sticky-top">
      <app-gutenberg-filters #filters></app-gutenberg-filters>
    </div>
    <div class="col-12 col-lg-11 col-xl-10">
      <app-gutenberg-results
        [strings]="strings"
        [selectedFilters$]="filters.filtersUpdated"
      ></app-gutenberg-results>
    </div>
  </ng-container>
</div>
