<div class="row mt-2">
  <div class="col-12 text-center">
    <h1>
      {{ 'NAVBAR.MENU.GUTENBERG_STRING_COMPARATOR' | translate }}
    </h1>
  </div>
</div>
<div class="row justify-content-center mt-2">
  <!-- Show loader -->
  <div
    class="col-12 d-flex align-items-center justify-content-center"
    *ngIf="busy$ | async"
  >
    <div
      class="spinner-grow spinner-grow-sm text-primary mr-1"
      role="status"
    ></div>
    <span class="text-primary">
      {{ 'GUTENBERG_STRING_COMPARATOR.LOADING' | translate }}
    </span>
  </div>
  <!-- Show error message -->
  <div class="col-12 text-center" *ngIf="errorMessage$ | async as errorMessage">
    <p class="text-danger">
      {{ errorMessage | translate }}
    </p>
  </div>
  <!-- Show results -->
  <div
    class="col-12 col-lg-11 col-xl-10"
    *ngIf="gutenbergStrings$ | async as strings"
  >
    <virtual-scroller #scroll [items]="strings" class="scroller">
      <ngb-accordion
        #acc="ngbAccordion"
        [closeOthers]="true"
        [animation]="true"
      >
        <ngb-panel
          *ngFor="let string of scroll.viewPortItems; let index = index"
          [id]="'string-' + index"
        >
          <ng-template ngbPanelHeader>
            <div
              class="d-flex align-items-center justify-content-between panel-heading"
              (click)="acc.toggle('string-' + index)"
              (keydown.enter)="acc.toggle('string-' + index)"
              tabindex="0"
            >
              <p class="w-75 m-0 pr-3">
                {{
                  'GUTENBERG_STRING_COMPARATOR.RESULTS.ORIGINAL_STRING'
                    | translate
                }}: <br />
                <span class="font-italic">{{ string.original }}</span>
              </p>
              <div class="w-auto mr-2">
                <p class="mb-0">
                  {{
                    'GUTENBERG_STRING_COMPARATOR.RESULTS.WP_CORE_PROJECT'
                      | translate
                  }}:<br />
                  <span class="font-italic">
                    {{ string.wpCoreProject | translate }}
                  </span>
                </p>
                <span
                  class="badge badge-pill gray-linear-gradient"
                  [ngClass]="{
                    'badge-info': string.isNew,
                    'badge-success': !string.isNew && string.areEqual,
                    'badge-danger': !string.isNew && !string.areEqual
                  }"
                >
                  {{ string.status | translate | uppercase }}
                </span>
              </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col-6">
                <p>
                  {{
                    'GUTENBERG_STRING_COMPARATOR.RESULTS.WP_CORE_STRING'
                      | translate
                  }}:
                </p>
                <span class="font-italic">
                  {{ string.wpCore }}
                </span>
              </div>
              <div class="col-6">
                <p>
                  {{
                    'GUTENBERG_STRING_COMPARATOR.RESULTS.PLUGIN_STRING'
                      | translate
                  }}:
                </p>
                <span class="font-italic">
                  {{ string.gutenberg }}
                </span>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </virtual-scroller>
  </div>
</div>
