<div class="row mt-4">
  <div class="col-12 text-center">
    <h1>{{ 'COMMON.CHANGELOG' | translate }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12" *ngFor="let versionRelease of changelog$ | async as list">
    <h2 class="font-italic">{{ versionRelease.version }}</h2>
    <ul>
      <li *ngFor="let comment of versionRelease.comments">
        <app-badge [text]="comment.type"></app-badge>
        <small>
          {{ comment.date | date: 'dd.MM.yyyy' }}
          ({{ 'COMMON.BUILD' | translate }} {{ comment.build }})
        </small>
        - {{ comment.text }}
      </li>
    </ul>
  </div>
</div>
