<form class="row justify-content-center" [formGroup]="filters">
  <div class="col-6 col-sm-3 form-group">
    <label for="search-for" class="d-none d-sm-none d-md-none d-lg-block">
      {{ 'GUTENBERG_STRING_COMPARATOR.FILTERS.TEXT_FILTER.LABEL' | translate }}
    </label>
    <label for="search-for" class="d-md-block d-lg-none">
      {{
        'GUTENBERG_STRING_COMPARATOR.FILTERS.TEXT_FILTER.LABEL_MOBILE'
          | translate
      }}
    </label>
    <input
      type="text"
      class="form-control form-control-sm"
      id="search-for"
      aria-labelledby="search-for"
      aria-describedby="search-for"
      [placeholder]="
        'GUTENBERG_STRING_COMPARATOR.FILTERS.TEXT_FILTER.PLACEHOLDER'
          | translate
      "
      formControlName="searchFor"
    />
  </div>
  <div class="col-6 col-sm-3 form-group">
    <label for="typeahead-http" class="d-none d-sm-none d-md-block">{{
      'GUTENBERG_STRING_COMPARATOR.FILTERS.LOCALE_SELECTION.LABEL' | translate
    }}</label>
    <label for="typeahead-http" class="d-block d-md-none">{{
      'GUTENBERG_STRING_COMPARATOR.FILTERS.LOCALE_SELECTION.LABEL_MOBILE'
        | translate
    }}</label>
    <input
      id="language-search"
      type="text"
      class="form-control form-control-sm"
      [placeholder]="usedLocale.code + ' - ' + usedLocale.name"
      [ngbTypeahead]="searchLocales"
      [focusFirst]="false"
      [popupClass]="'typeahead-window'"
      [resultTemplate]="languageTemplate"
      [inputFormatter]="inputFormatter"
      [editable]="false"
      [showHint]="true"
      (selectItem)="localeChanged($event.item)"
    />
  </div>
  <ng-template #languageTemplate let-locale="result" let-t="term">
    <ngb-highlight
      [result]="locale.code + ' - ' + locale.name"
      [term]="t"
    ></ngb-highlight>
  </ng-template>
  <fieldset class="col-6 col-sm-3 form-group">
    <legend class="col-form-label pt-0 d-none d-sm-none d-md-block">
      {{
        'GUTENBERG_STRING_COMPARATOR.FILTERS.TRANSLATION_STATUS.LEGEND'
          | translate
      }}
    </legend>
    <legend class="col-form-label pt-0 d-block d-md-none">
      {{
        'GUTENBERG_STRING_COMPARATOR.FILTERS.TRANSLATION_STATUS.LEGEND_MOBILE'
          | translate
      }}
    </legend>
    <select class="custom-select custom-select-sm" formControlName="status">
      <option
        value="GUTENBERG_STRING_COMPARATOR.FILTERS.TRANSLATION_STATUS.ALL_VALUE"
        selected
      >
        {{
          'GUTENBERG_STRING_COMPARATOR.FILTERS.TRANSLATION_STATUS.ALL_VALUE'
            | translate
        }}
      </option>
      <option *ngFor="let status of translationStatus" [value]="status">
        {{ status | translate }}
      </option>
    </select>
  </fieldset>
  <fieldset class="col-6 col-sm-3 form-group">
    <legend class="col-form-label pt-0 d-none d-sm-none d-md-none d-lg-block">
      {{
        'GUTENBERG_STRING_COMPARATOR.FILTERS.SUB_PROJECTS.LEGEND' | translate
      }}
    </legend>
    <legend class="col-form-label pt-0 d-md-block d-lg-none">
      {{
        'GUTENBERG_STRING_COMPARATOR.FILTERS.SUB_PROJECTS.LEGEND_MOBILE'
          | translate
      }}
    </legend>
    <select class="custom-select custom-select-sm" formControlName="subproject">
      <option
        value="GUTENBERG_STRING_COMPARATOR.FILTERS.SUB_PROJECTS.ALL_VALUE"
        selected
      >
        {{
          'GUTENBERG_STRING_COMPARATOR.FILTERS.SUB_PROJECTS.ALL_VALUE'
            | translate
        }}
      </option>
      <option *ngFor="let project of subProjectSelection" [value]="project">
        {{ project | translate }}
      </option>
    </select>
  </fieldset>
</form>
