<nav
  class="navbar navbar-expand-md sticky-top navbar-dark bg-primary gray-linear-gradient"
>
  <a class="navbar-brand" routerLink="">{{ title }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-target="#navbar-supported-content"
    aria-controls="navbar-supported-content"
    [attr.aria-expanded]="!menuCollapsed"
    aria-label="Toggle navigation"
    (click)="toogleMenuCollapse()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    id="navbar-supported-content"
    class="navbar-collapse"
    [ngbCollapse]="menuCollapsed"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" (click)="toogleMenuCollapse()">
        <a
          class="m-0 py-2 text-light menu-link"
          [routerLink]="['/gutenberg-string-comparator']"
          routerLinkActive="router-link-active"
        >
          {{ 'NAVBAR.MENU.GUTENBERG_STRING_COMPARATOR' | translate }}
        </a>
      </li>
    </ul>
  </div>
</nav>
